<div class="sc-container sc-me" id="SC-article-{{ current_article.identifier }}">
  <div class="SC-Grid">
    {%- if all_article_categories.size > 0 %}
      <div class="SC-Grid_sidebar">
        {%- render "articles/sidebar" %}
      </div>
    {%- endif %}

    <div class="SC-Grid_main">
      <section class="sc-rich-text">
        <article class="SC-Article">
          {%- render "shared/page_header", heading: current_article.title %}
          {%- if current_article.subtitle != blank %}
            <p class="sc-font-medium sc-shade-neutral">
              {{ current_article.subtitle }}
            </p>
          {%- endif %}
          {%- if current_article.publish_on != blank or current_article.author != blank %}
            <div class="SC-Article_data sc-display-inline-flex sc-gap sc-pos-relative sc-font-small">
              {%- if current_article.author != blank %}
                <span class="sc-mb-base sc-shade-neutral">
                  {{ 'article.posted.by' | t }} {{ current_article.author }}
                </span>
              {%- endif %}
              <span class="sc-mb-base sc-shade-neutral">
                {{ current_article.publish_on | date: "%B %-d, %Y" }}
              </span>
            </div>
          {%- endif %}
          {%- if current_article.hero_image != blank %}
              <div class="SC-Article_hero_image sc-mb-base">
                <img src="{{ current_article.hero_image.huge_url }}" class="sc-mb-base" loading="lazy">
              </div>
          {%- else %}
            <div class="SC-Article_placeholder sc-mb-base">
            {% render "shared/placeholder_image" %}
            </div>
          {%- endif %}
          {{ current_article.body_content }}

          {% comment %} Subscribe to something {% endcomment %}
          {% render "shared/cta" %}
        </article>
      </section>
    </div>
  </div>
</div>
